<div class="container">
	<%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
		<% if @user.errors.any? %>
	    <div id="error_explanation">
	     <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="form-group">
			<%= f.label :name, class: 'label-light' %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :dialect, class: 'label-light' %>
			<%= f.select(:dialect) do %>
		  	<% [User::PIRATE, User::YODA, User::VALLEY].each do |c| -%>
		    <%= content_tag(:option, c, value: c) %>
		  <% end %>
	  </div>
	<% end %>	

		<%= f.submit 'Go!', class: 'btn btn-default' %>
	<% end %>
</div>